<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>jluisr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2946EF661E7B91C700A83583</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2946EF7D1E7B91C700A83583</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2946EF881E7B91C700A83583</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
